*{
    padding: 0;
    margin: 0;
    
}


header {
    letter-spacing: 4px;
    text-align: center;
    background-color: #00000052;
    font-weight: bold;
    -webkit-text-stroke: 0.8px #00000000; /* Ancho y color del contorno (con prefijo para WebKit) */
    color: #ae7c18;
    padding: 2vh;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.formulario {
    width: 50vh;
    margin: 4vh;
    border: 0.5vh solid #00000000;
    padding: 2vh;
    text-align: center;
    padding-bottom: 2vh;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.66);
    font-family: 'Raleway', sans-serif;
    
}

img{
    width: 100%;
    height: auto;
    border-radius: 1.5vh;
}

body{
    background-image: url(multi/sisas.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    height: 950px;
}

.formulario input{
    color: #000000;
    background-color: rgba(251, 251, 251, 0.848);
    border-radius: 1.5vh;
    padding: 1vh;
    width: 45vh;
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.enviar{
    color: #000000;
}

input[type="submit"]:hover {
    background-color: #d4a53d; 
    color: #fff7f7; 
    border: 2px solid #d4a53d; /* Cambia el borde en el hover */
    cursor: pointer; /* Cambia el cursor en el hover (opcional) */
    
}

 